body {
            
            font-family: "Georgia", serif; 
            margin: 0; 
            box-sizing: border-box; 
            height: 100vh; 
        }
        
        .bigcontainer {
            
           
            width: 30%;
            margin: auto; /*center aligns the element*/
            text-align: center; 
            position: relative;
            top: 50px; 
            background-color: rgba(211,211,211, 0.6);
            border-radius: 20px; 
        }
        
        .container {
            
           padding: 20px 0; 
            
                        
        }
        
        h1 {
            
            margin: 0; 
        }
        
        i {
            
            font-size: 250%; 
        }
        
        .weather-font {
            
            font-size: 130%;
            margin: 10px; 
        }


        #weathericons {
            
            padding: 10px 0; 
        }
        
        .extras p {
            
            float; 
        }
        
        button {
            
            font-family: "Georgia", serif; 
            padding: 10px; 
            border-radius: 15px; 
            border: 2px solid #025AA5;
               
            
        }

        .container2 {

            padding-bottom: 10px; 
        }

        .container2 p {

            margin: 0; 
        }

        a, a:visited {

            text-decoration: none; 
            color: rebeccapurple; 
        }

@media screen and (max-width: 700px) {
    
    .bigcontainer {
            
           
            width: 85%;
    }
    
}